[id^=setPotionId] {
    z-index: 10;
}

[id^=potionAmountId] {
    background-color: transparent;
    border-style: none;
    color: #ffffff;
    display: block;
    font-family: Amethysta-Regular, monospace;
    line-height: 1;
    margin: 0 auto;
    max-width: 100%;
    overflow: hidden;
    position: absolute;
    text-overflow: ellipsis;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    z-Index: 5;
}

#backFromBeltId:hover, #backFromBeltId:focus, #backFromBeltId:active {
    filter: contrast(150%);
    filter: brightness(150%);
    -webkit-filter: contrast(150%);
    -webkit-filter: brightness(150%);
}

[id*='brewPotionId']:hover, [id*='brewPotionId']:focus, [id*='brewPotionId']:active {
    filter: contrast(150%);
    filter: brightness(150%);
    -webkit-filter: contrast(150%);
    -webkit-filter: brightness(150%);
}

[id*='setPotionId']:hover, [id*='setPotionId']:focus, [id*='setPotionId']:active {
    filter: contrast(150%);
    filter: brightness(150%);
    -webkit-filter: contrast(150%);
    -webkit-filter: brightness(150%);
}

[id*='beltPotionId']:hover, [id*='beltPotionId']:focus, [id*='beltPotionId']:active {
    filter: contrast(150%);
    filter: brightness(150%);
    -webkit-filter: contrast(150%);
    -webkit-filter: brightness(150%);
}







