#rootContainer {
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.Button, .Button:focus{
    position: absolute;
    cursor: pointer;
    border: none;
    background: none;
    background-color: red;
    opacity: 0.5;

    outline: none;
}

.StartScreen.Parchment {
    position: absolute;
    background: green;
    opacity: 0.5;
}

.Title {
    position: absolute;
    text-align: center;
    font-size: 50px;
    font-size: 8vh;
    font-family: Trajan_Pro_Regular, sans-serif;
    color: black;
    cursor: default;
}

.InputField ,.InputPasswordField, .InputField:focus, .InputPasswordField:focus {
    color: black;
    position: absolute;
    font-size: 50px;
    font-size: 6vh;
    font-family: LinBiolinum,sans-serif;

    outline: none;
    background: transparent;
    border: solid 1px black;
    border-radius: 8px;
    padding: 20px;
    box-shadow: inset 0px 0px 20px -5px;
}
