#mostCoins,#mostScore, #timeSpent, #numberOfRuns, #sqlStatements, #sqlRate  {
    font-family: Amethysta-Regular, sans-serif;
    cursor: pointer;
    text-align: center;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    border-radius: 14px;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
}
#mostCoins:hover, #mostCoins:focus, #mostCoins:active {
    background-color: white;
    color: black;
}
#mostScore:hover, #mostScore:focus, #mostScore:active {
    background-color: white;
    color: black;
}
#timeSpent:hover, #timeSpent:focus, #timeSpent:active {
    background-color: white;
    color: black;
}
#numberOfRuns:hover, #numberOfRuns:focus, #numberOfRuns:active {
    background-color: white;
    color: black;
}
#sqlStatements:hover, #sqlStatements:focus, #sqlStatements:active {
    background-color: white;
    color: black;
}
#sqlRate:hover, #sqlRate:focus, #sqlRate:active {
    background-color: white;
    color: black;
}

#ranks, #position {
    background-color : transparent;
    border-style : none;
    color : black;
    display : block;
    font-family : Amethysta-Regular, sans-serif;
    line-height : 1;
    margin : 0 auto;
    max-width : 100%;
    overflow : hidden;
    position : absolute;
    text-overflow : ellipsis;
    text-align: center;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    z-Index : 3;
}

#ownRank {
    background-color : transparent;
    height: 100%;
    border-style : none;
    color : black;
    display : inline-block;
    font-family : Amethysta-Regular, sans-serif;
    line-height : 1;
    margin : 0 auto;
    max-width : 100%;
    overflow : hidden;
    position : absolute;
    -webkit-line-clamp: 8;
    text-overflow : ellipsis;
    -webkit-box-orient: vertical;
    z-Index : 3;
}

#values {
    background-color : transparent;
    border-style : none;
    color : black;
    display : block;
    font-family : Amethysta-Regular, sans-serif;
    line-height : 1.2;
    margin : 0 auto;
    max-width : 100%;
    overflow : hidden;
    position : absolute;
    text-overflow : ellipsis;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    z-Index : 3;
}

#ownValue, #usernames, #ownUsername   {
    background-color : transparent;
    border-style : none;
    color : black;
    display : block;
    font-family : Amethysta-Regular, sans-serif;
    line-height : 1;
    margin : 0 auto;
    max-width : 100%;
    overflow : hidden;
    position : absolute;
    text-overflow : ellipsis;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    z-Index : 3;
}

#ranksPara {
    text-align: right;
    overflow : hidden;
    padding: 6px 0px 6px 0px;
    text-overflow: ellipsis;
}

#ownRankPara {
    text-align: right;
    overflow : hidden;
    padding: 6px 0px 0px 0px;
    text-overflow: ellipsis;
}

#usernamesPara, #ownUsernamePara  {
    text-align: left;
    overflow : hidden;
    padding: 6px 0px 6px 0px;
    text-overflow: ellipsis;
}

#valuesPara, #ownValuePara {
    text-align: right;
    overflow : hidden;
    padding: 6px 0px 6px 0px;
    text-overflow: ellipsis;
}

#headers {
    background-color: transparent;
    border-style: none;
    font-family: Amethysta-Regular, sans-serif;
    color: black;
    overflow : hidden;
    position: absolute;
    text-align: center;
    vertical-align: middle;
    z-Index: 4;
}

#headerPara {
    overflow : hidden;
}


#backFromRankingsImage:hover, #backFromRankingsImage:focus, #backFromRankingsImage:active {
    filter: invert(100%);
}
