[id^=Student], [id^=Button], [id^=Image] {
    background-color : transparent;
    border-style : none;
    color : transparent;
    cursor : pointer;
    overflow : hidden;
    position : absolute;
    text-align : center;
    vertical-align : middle;
    z-Index : 4;
}

#logoutButton {
    background-color : transparent;
    border-style : none;
    color : transparent;
    cursor : pointer;
    overflow : hidden;
    position : absolute;
    text-align : center;
    vertical-align : middle;
    z-Index : 4;
}
#logoutButton:hover, #logoutButton:focus, #logoutButton:active {
    filter: contrast(150%);
    filter: brightness(150%);
    -webkit-filter: contrast(150%);
    -webkit-filter: brightness(150%);
}
