<div class="modal-header">
    <button type="button" class="close" aria-label="Close" ng-click="close()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title"><span ng-bind="title"></span></h4>
</div>
<div class="modal-body">
    <label for="eingabefeldname" class="col-sm-6 control-label">Task</label>
    <textarea  ng-model="textAreaTask" style="resize:none; width:100%" disabled></textarea>
    <label for="eingabefeldname" class="col-sm-6 control-label">Solve</label>
    <textarea rows="10" ng-model="textAreaSolve" style="resize:none; width:100%" disabled></textarea>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary btn-lg" ng-click="close()">
        Ok
    </button>
</div>
