#######
# git ignore file
#

.idea
.svn
.DS_Store
*.log
node_modules

########
# Back-End
back-end/logs
back-end/project/project
back-end/project/target
back-end/target
back-end/tmp
back-end/.history
back-end/dist
back-end/.idea
back-end/*.iml
back-end/out
back-end/.idea_modules
back-end/.classpath
back-end/.project
back-end/RUNNING_PID
back-end/.settings
back-end/public/game
back-end/.sbtserver
back-end/public/admintool
*.h2.db
*.trace.db
back-end/conf/evolutions


########
# Front-End
front-end/build
front-end/node_modules
