#######
# git ignore file
#

.idea
.svn
.DS_Store
*.log
node_modules
*.ini

/data

########
# Back-End
back-end/logs
back-end/project/project
back-end/project/target
back-end/target
back-end/tmp
back-end/.history
back-end/dist
back-end/.idea
back-end/*.iml
back-end/out
back-end/.idea_modules
back-end/.classpath
back-end/.project
back-end/RUNNING_PID
back-end/.settings
back-end/.sbtserver
back-end/public
back-end/conf/evolutions/default
*.h2.db
*.trace.db


########
# Front-End
/front-end/.idea
/front-end/front-end
/front-end/front-end.iml
/front-end/build
/front-end/front-end.iml
/front-end/tmp
/front-end/src/assets/js/resources.js

########
# Admin-Tool
/admin-tool/.idea
/admin-tool/build
/admin-tool/*.iml
/admin-tool/admin-tool
/front-end/tmp
front-end/src/assets/js/resources.js
front-end/.idea

/SQL-Alchemist
SQL-Alchemist
