.DS_Store
.classpath
.gradle/
.metadata/
.project
.settings/
.idea/
.svn/
tmp/
build/
bin/
gradlew
gradle
*.swp
repo.iml
gradle/wrapper
gradle/wrapper/gradle-wrapper.properties
compile.sh
index
*~
*(Autosaved).rtfd/
Backup[ ]of[ ]*.pages/
Backup[ ]of[ ]*.key/
Backup[ ]of[ ]*.numbers/

# Latex files
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mp
*.mtc
*.mtc1
*.out
*.synctex.gz
*.tmp
*.toc
*.top
*.tui
*.texlipse
*.nav
*.snm
*.upa

