#tutorialText {
    background-color : #6d76ff;
    border-style : none;
    color : black;
    display : block;
    font-family : Trajan_Pro_Regular, Arial, sans-serif;
    font-size: smaller;
    line-height : 1.2;
    margin : 0 auto;
    max-width : 100%;
    overflow : hidden;
    position : absolute;
    text-overflow : ellipsis;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    z-Index : 3;
}