#logoutButton {
    background-color : transparent;
    border-style : none;
    font-family : Trajan_Pro_Regular, sans-serif;
    color : transparent;
    cursor : pointer;
    overflow : hidden;
    position : absolute;
    text-align : center;
    vertical-align : middle;
    z-Index : 4;
}

#labButton {
    background-color : transparent;
    border-style : none;
    font-family : Trajan_Pro_Regular, sans-serif;
    color : transparent;
    cursor : pointer;
    overflow : hidden;
    position : absolute;
    text-align : center;
    vertical-align : middle;
    z-Index : 4;
}

#triviaButton {
    background-color : transparent;
    border-style : none;
    font-family : Trajan_Pro_Regular, sans-serif;
    color : transparent;
    cursor : pointer;
    overflow : hidden;
    position : absolute;
    text-align : center;
    vertical-align : middle;
    z-Index : 4;
}

#profileButton {
    background-color : transparent;
    border-style : none;
    font-family : Trajan_Pro_Regular, sans-serif;
    color : transparent;
    cursor : pointer;
    overflow : hidden;
    position : absolute;
    text-align : center;
    vertical-align : middle;
    z-Index : 4;
}

#settingsButton {
    background-color : transparent;
    border-style : none;
    font-family : Trajan_Pro_Regular, sans-serif;
    color : transparent;
    cursor : pointer;
    overflow : hidden;
    position : absolute;
    text-align : center;
    vertical-align : middle;
    z-Index : 4;
}

#settingsButtonStudent {
    background-color : transparent;
    border-style : none;
    font-family : Trajan_Pro_Regular, sans-serif;
    color : transparent;
    cursor : pointer;
    overflow : hidden;
    position : absolute;
    text-align : center;
    vertical-align : middle;
    z-Index : 4;
}

#highscoreButton {
    background-color : transparent;
    border-style : none;
    font-family : Trajan_Pro_Regular, sans-serif;
    color : transparent;
    cursor : pointer;
    overflow : hidden;
    position : absolute;
    text-align : center;
    vertical-align : middle;
    z-Index : 4;
}

#highscoreButtonStudent {
    background-color : transparent;
    border-style : none;
    font-family : Trajan_Pro_Regular, sans-serif;
    color : transparent;
    cursor : pointer;
    overflow : hidden;
    position : absolute;
    text-align : center;
    vertical-align : middle;
    z-Index : 4;
}

#shopButton {
    background-color : transparent;
    border-style : none;
    font-family : Trajan_Pro_Regular, sans-serif;
    color : transparent;
    cursor : pointer;
    overflow : hidden;
    position : absolute;
    text-align : center;
    vertical-align : middle;
    z-Index : 4;
}

#shopButtonStudent {
    background-color : transparent;
    border-style : none;
    font-family : Trajan_Pro_Regular, sans-serif;
    color : transparent;
    cursor : pointer;
    overflow : hidden;
    position : absolute;
    text-align : center;
    vertical-align : middle;
    z-Index : 4;
}

#homeworkButton {
    background-color : transparent;
    border-style : none;
    font-family : Trajan_Pro_Regular, sans-serif;
    color : transparent;
    cursor : pointer;
    overflow : hidden;
    position : absolute;
    text-align : center;
    vertical-align : middle;
    z-Index : 4;
}
