<div class="modal-header">
    <button type="button" class="close" ng-click="close()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Homework: {{title}}</h4>
</div>
<div class="modal-body">
    <!-- Table in here! -->

    <table class="table table-hover">
        <thead>
            <tr>
                <th>TaskFiles:</th>
                <th>See Students:</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="taskfile in taskFiles">
                <td>{{taskfile.fileName}}</td>
                <td>
                    <button type="button" class="btn btn-default" ng-click="viewStudents($index)">
                        <span class="glyphicon glyphicon-eye-open"></span></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>