#backToLabButton {
	background-color : transparent;
	border-style : none;
	font-family : Trajan_Pro_Regular, sans-serif;
	color : transparent;
	cursor : pointer;
	overflow : visible;
	position : absolute;
	text-align : center;
	vertical-align : middle;
	z-Index : 4;
}

#limtext, #protext {
	background-color: transparent;
	border-style: none;
	color: #03001f;
	display: block;
	font-family: Amethysta-Regular, monospace;
	line-height: 1;
	margin: 0 auto;
	max-width: 100%;
	overflow: hidden;
	position: absolute;
	text-overflow: ellipsis;
	text-align: center;
	line-clamp: 8;
	box-orient: vertical;
	z-Index: 3;
}

#limtextbody, #protextbody {
	width: 100%;
	height: 100%;
	overflow: auto;
	padding-right: 17px;
}

#backToFromCollector:hover, #backToFromCollector:focus, #backToFromCollector:active {
    filter: contrast(150%);
    filter: brightness(150%);
}

