/*
 * Die CSS Style Datei f�r die dynamisch erzeugten Elemente aus collector.js
 */
 
#collector {
	font-size : x-large;
	position : absolute;
	text-align : center;
	z-Index : 3;
}

#collectortitle {
	color : darkgreen;
	font-size : xx-large;
	font-weight : bold;
	margin : auto;
	text-align : center;
	z-Index : 4;
}

#weakpotion {
	position : absolute;
	z-Index : 11;
}

#weakpotiontext {
	color : darkgreen;
	cursor : pointer;
	font-size : x-large;
	font-weight : bold;
	text-align : center;
	vertical-align : text-top;
}

#backToLabButton {
	background-color : transparent;
	border-style : none;
	font-family : Trajan_Pro_Regular, sans-serif;
	color : transparent;
	cursor : pointer;
	overflow : visible;
	position : absolute;
	text-align : center;
	vertical-align : middle;
	z-Index : 4;
}