#returnButton {
    font-family: Amethysta-Regular, sans-serif;
    cursor: pointer;
    text-align: center;
    -webkit-border-radius: 14;
    -moz-border-radius: 14;
    border-radius: 14px;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
}
#returnButton:hover, #returnButton:focus, #returnButton:active {
    background-color: white;
    color: black;
}

[id^=currentHomeworkButtonId], [id^=previousHomeworkButtonId] {
    font-family: Amethysta-Regular, sans-serif;
    cursor: pointer;
    text-align: center;
    -webkit-border-radius: 14;
    -moz-border-radius: 14;
    border-radius: 14px;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
    padding-left: 5px;
}
[id^=currentHomeworkButtonId]:hover, [id^=currentHomeworkButtonId]:focus, [id^=currentHomeworkButtonId]:active {
    background-color: white;
    color: black;
}
[id^=previousHomeworkButtonId]:hover, [id^=previousHomeworkButtonId]:focus, [id^=previousHomeworkButtonId]:active {
    background-color: white;
    color: black;
}

#homeworkHeader, #doneCounter {
    background-color : transparent;
    color : white;
    display : block;
    font-family : Amethysta-Regular, sans-serif;
    position : absolute;
    text-align: center;
    z-Index : 3;
}

#chooseHomeworkTitle {
    background-color : transparent;
    color : white;
    display : block;
    font-family : Amethysta-Regular, sans-serif;
    position : absolute;
    text-align: center;
    z-Index : 3;
    text-decoration: underline;
}

#expireDate {
    background-color : transparent;
    color : white;
    display : block;
    font-family : Amethysta-Regular, sans-serif;
    position : absolute;
    text-align: center;
    z-Index : 3;
}

#currentButton {
    background: #ededed;
    background-image: -webkit-linear-gradient(top, #ededed, #cccccc);
    background-image: -moz-linear-gradient(top, #ededed, #cccccc);
    background-image: -ms-linear-gradient(top, #ededed, #cccccc);
    background-image: -o-linear-gradient(top, #ededed, #cccccc);
    background-image: linear-gradient(to bottom, #ededed, #cccccc);
    opacity: .99;
    -webkit-border-radius: 75px 0px 0px 75px;
    -moz-border-radius: 75px 0px 0px 75px ;
    border-radius: 75px 0px 0px 75px;
    -webkit-box-shadow: -1px 1px 3px #cccccc;
    -moz-box-shadow: -1px 1px 3px #cccccc;
    box-shadow: -1px 1px 3px #cccccc;
    font-family: Amethysta-Regular, sans-serif;
    color: #000000;
    padding: 5px 5px 5px 5px;
    text-align: right;
    cursor: pointer;
}

#previousButton {
    background: #ededed;
    background-image: -webkit-linear-gradient(top, #ededed, #cccccc);
    background-image: -moz-linear-gradient(top, #ededed, #cccccc);
    background-image: -ms-linear-gradient(top, #ededed, #cccccc);
    background-image: -o-linear-gradient(top, #ededed, #cccccc);
    background-image: linear-gradient(to bottom, #ededed, #cccccc);
    opacity: .99;
    -webkit-border-radius: px 75px 75px 0px;
    -moz-border-radius: 0px 75px 75px 0px ;
    border-radius: 0px 75px 75px 0px;
    border-left:solid black 1px;
    -webkit-box-shadow: 1px 1px 3px #cccccc;
    -moz-box-shadow: 1px 1px 3px #cccccc;
    box-shadow: 1px 1px 3px #cccccc;
    font-family: Amethysta-Regular, sans-serif;
    color: #000000;
    padding: 5px 5px 5px 5px;
    text-align: left;
    cursor: pointer;
}

#previousButton:hover {
    background: #d9d9d9;
    background-image: -webkit-linear-gradient(top, #d9d9d9, #b2b9bd);
    background-image: -moz-linear-gradient(top, #d9d9d9, #b2b9bd);
    background-image: -ms-linear-gradient(top, #d9d9d9, #b2b9bd);
    background-image: -o-linear-gradient(top, #d9d9d9, #b2b9bd);
    background-image: linear-gradient(to bottom, #d9d9d9, #b2b9bd);
    text-decoration: none;
}

#currentButton:hover {
    background: #d9d9d9;
    background-image: -webkit-linear-gradient(top, #d9d9d9, #b2b9bd);
    background-image: -moz-linear-gradient(top, #d9d9d9, #b2b9bd);
    background-image: -ms-linear-gradient(top, #d9d9d9, #b2b9bd);
    background-image: -o-linear-gradient(top, #d9d9d9, #b2b9bd);
    background-image: linear-gradient(to bottom, #d9d9d9, #b2b9bd);
    text-decoration: none;
}