[id$=Image] {
    cursor : pointer;
    position : absolute;
    vertical-align : middle;
    z-Index : 4;
}
[id$=Button] {
    cursor: pointer;
}

#colButton, #catButton {
    z-index: 5;
}

#runButton {
    z-index: 4;
}

[id$=Image]:hover, [id$=Image]:focus, [id$=Image]:active {
    filter: contrast(150%);
    filter: brightness(150%);
    -webkit-filter: contrast(150%);
    -webkit-filter: brightness(150%);
}