#attribute, #valuesProfile {
    background-color : transparent;
    border-style : none;
    color : black;
    display : block;
    font-family : Amethysta-Regular, sans-serif;
    line-height : 1;
    margin : 0 auto;
    max-width : 100%;
    overflow : hidden;
    position : absolute;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    z-Index : 3;
}

#attributePara {
    font-size: smaller;
    display : block;
    overflow : hidden;
    float: left;
}

#valuesPara {
    font-size: smaller;
    float: right;
    overflow : hidden;
    display : block;
    text-overflow: ellipsis;
}

#backFromProfile {
    background-color : transparent;
    border-style : none;
    color : transparent;
    cursor : pointer;
    overflow : visible;
    position : absolute;
    text-align : center;
    vertical-align : middle;
    z-Index : 3;
}