#backButton1, #backButton2 {
    background-color : transparent;
    border-style : none;
    font-family : Trajan_Pro_Regular, sans-serif;
    color : transparent;
    cursor : pointer;
    overflow : visible;
    position : absolute;
    text-align : center;
    vertical-align : middle;
    z-Index : 4;
}

#sheetName, #sheetAttribute, #sheetValues  {
    background-color : transparent;
    border-style : none;
    color : black;
    display : block;
    font-family : Trajan_Pro_Regular, sans-serif;
    line-height : 1;
    margin : 0 auto;
    max-width : 100%;
    overflow : hidden;
    position : absolute;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    z-Index : 3;
}

#sheetAttributePara {
    padding-top: 20px;
    padding-bottom: 20px;
}

#sheetNamePara {
    padding-top: 2px;
    text-align: center;
}

#sheetValuesPara {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: right;
}

#skinRight:hover, #skinRight:focus, #skinRight:active {
    -webkit-filter: contrast(150%);
    -webkit-filter: brightness(150%);
}

#skinLeft:hover, #skinLeft:focus, #skinLeft:active {
    -webkit-filter: contrast(150%);
    -webkit-filter: brightness(150%);
}
