#backButton1 {
    background-color : transparent;
    border-style : none;
    font-family : Trajan_Pro_Regular, sans-serif;
    color : transparent;
    cursor : pointer;
    overflow : visible;
    position : absolute;
    text-align : center;
    vertical-align : middle;
    z-Index : 4;
}

#backButton2 {
    background-color : transparent;
    border-style : none;
    font-family : Trajan_Pro_Regular, sans-serif;
    color : transparent;
    cursor : pointer;
    overflow : visible;
    position : absolute;
    text-align : center;
    vertical-align : middle;
    z-Index : 4;
}