#shopItem {
    background-color : transparent;
    border-style : solid;
    border-color: transparent;
    font-family : Trajan_Pro_Regular, sans-serif;
    color : transparent;
    cursor : pointer;
    overflow : visible;
    position : absolute;
    text-align : center;
    vertical-align : middle;
    z-Index : 4;
}

#lofiCoinsPara {
    text-align : right;
    color: white;
}

#lofiCoins {
    background-color : transparent;
    border-style : none;
    color : black;
    display : block;
    font-family : Trajan_Pro_Regular, sans-serif;
    line-height : 1;
    margin : 0 auto;
    max-width : 100%;
    overflow : hidden;
    position : absolute;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    z-Index : 3;
}