#startButton {
    background-color : transparent;
    border-style : none;
    font-family : Trajan_Pro_Regular, sans-serif;
    color : transparent;
    cursor: pointer;
    position : absolute;
    text-align : center;
    vertical-align : middle;
    z-Index : 4;
}

#startButton:hover, #startButton:focus, #startButton:active {

}