
<div class="container-fluid">
  <div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" ng-if="flash" ng-bind="flash.message"></div>
  <div ng-show="vm.error" class="alert alert-danger">{{vm.error}}</div>

  <div class="btn-group" style="float:left;width:70%">
    <button type="button" class="btn btn-default" ng-click="goSelectHomework()" ng-show="shouldIBeDisplayed('HomeWorkSelection')"> > </button>
    <button type="button" class="btn btn-default" ng-click="goSelectTaskFile()" ng-show="shouldIBeDisplayed('TaskFileSelection')" ng-disabled="state === 'TaskFileSelection'">HomeWork: <b>{{selectedHomework.name}}</b></button>
    <button type="button" class="btn btn-default" ng-click="goSelectSubtask()" ng-show="shouldIBeDisplayed('SubTaskSelection')" ng-disabled="state === 'SubTaskSelection'">TaskFile: <b>{{selectedTaskFile.fileName}}</b></button>
    <button type="button" class="btn btn-default" ng-click="goSelectSubmit()" ng-show="shouldIBeDisplayed('SubmitSelection')" ng-disabled="state === 'SubmitSelection'">SubTask: <b>{{selectedSubTask.id}}</b></button>
    <button type="button" class="btn btn-default" ng-click="goSelectSubmit()" ng-show="shouldIBeDisplayed('InspectSubmit')" ng-disabled="state === 'InspectSubmit'">Submit: {{selectedSubmit.student.matno}}<b></b></button>
  </div>

  <div class="container-fluid" style="float:right;width:30%">
    <form ng-show="!shouldIBeDisplayed('InspectSubmit')">
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
          <input type="text" class="form-control" placeholder="Search..." ng-model="search">
        </div>
      </div>
    </form>
  </div>

  <div style="width:100%;height:8px;float:right"></div>

  <div class="ng-hide" ng-show="state === 'HomeWorkSelection'" style="width:100%;float:right">
    <table class="table table-hover">
      <thead>
        <tr>
          <th ng-click="orderHomeWorkPredicate = 'name'; orderReverse = !orderReverse" style="cursor: pointer">Name</th>
          <th ng-click="orderHomeWorkPredicate = 'creator.name'; orderReverse = !orderReverse" style="cursor: pointer">Creator</th>
          <th ng-click="orderHomeWorkPredicate = 'start_at'; orderReverse = !orderReverse" style="cursor: pointer">Start at</th>
          <th ng-click="orderHomeWorkPredicate = 'expires_at'; orderReverse = !orderReverse" style="cursor: pointer">Expire at</th>
          <th>View</th>
          </tr>
      </thead>
      <tbody>
        <tr ng-repeat="homework in vm.homeworks | orderBy:orderHomeWorkPredicate:orderReverse | filter:search" style="cursor: pointer" ng-click="selectHomework(homework)">
          <td>{{homework.name}}</td>
          <td>{{homework.creator.username}}</td>
          <td>{{homework.start_at}}</td>
          <td>{{homework.expires_at}}</td>
          <td>
              <button type="button" class="btn btn-default" ng-click="deleteHomework(homework);  $event.stopPropagation();">
                <span class="glyphicon glyphicon-trash"></span></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="ng-hide" ng-show="state === 'TaskFileSelection'" style="width:100%;float:right">

    <table class="table table-hover">
      <thead>
      <tr>
        <th ng-click="orderTaskFilePredicate = 'filename'; orderReverse = !orderReverse" style="cursor: pointer">TaskFileName</th>
        <th ng-click="orderTaskFilePredicate = 'created_at'; orderReverse = !orderReverse" style="cursor: pointer">Created at</th>
        <th ng-click="orderTaskFilePredicate = 'rating.positive'; orderReverse = !orderReverse" style="cursor: pointer">Rating</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="taskFile in vm.taskFiles | orderBy:orderHomeWorkPredicate:orderReverse | filter:search" style="cursor: pointer" ng-click="selectTaskFile(taskFile)">
        <td>{{ taskFile.fileName }}</td>
        <td>{{ taskFile.created_at }}</td>
        <td>
          <div class="btn-group" role="group" aria-label="...">
            <a href="" ng-click="rateTaskFile(taskFile, 'positive');  $event.stopPropagation();"> <span class="glyphicon glyphicon-thumbs-up"></span> </a> <span style="width: 2px"></span> {{ taskFile.rating.positive }} <span style="width: 6px"></span>
            <a href="" ng-click="rateTaskFile(taskFile, 'needReview');  $event.stopPropagation();"> <span class="glyphicon glyphicon-search"></span> </a> <span style="width: 2px"></span> {{ taskFile.rating.needReview }} <span style="width: 6px"></span>
            <a href="" ng-click="rateTaskFile(taskFile, 'negative');  $event.stopPropagation();"> <span class="glyphicon glyphicon-thumbs-down"></span> </a> <span style="width: 2px"></span> {{ taskFile.rating.negative }}
          </div>
        </td>
      </tr>
      </tbody>
    </table>

  </div>

  <div class="ng-hide" ng-show="state === 'SubTaskSelection'" style="width:100%;float:right">
    <table class="table table-hover">
      <thead>
      <tr>
        <th ng-click="orderSubTaskPredicate = 'id'; orderReverse = !orderReverse" style="cursor: pointer">Subtask</th>
        <th ng-click="orderSubTaskPredicate = 'points'; orderReverse = !orderReverse" style="cursor: pointer">Difficulty</th>
        <th ng-click="orderSubTaskPredicate = 'refStatement'; orderReverse = !orderReverse" style="cursor: pointer">Reference Statement</th>
        <th ng-click="orderSubTaskPredicate = 'rating.positive'; orderReverse = !orderReverse" style="cursor: pointer">Rating</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="subTask in vm.subTasks  | orderBy:orderSubTaskPredicate:orderReverse | filter:search" style="cursor: pointer" ng-click="selectSubTask(subTask)">
        <td>{{subTask.id}}</td>
        <td>{{subTask.points}}</td>
        <td>{{subTask.refStatement}}</td>
        <td>
          <div class="btn-group" role="group" aria-label="...">
            <a href="" ng-click="rateSubTask(subTask, 'positive');  $event.stopPropagation();"> <span class="glyphicon glyphicon-thumbs-up"></span> </a> <span style="width: 2px"></span> {{ subTask.rating.positive }} <span style="width: 6px"></span>
            <a href="" ng-click="rateSubTask(subTask, 'needReview');  $event.stopPropagation();"> <span class="glyphicon glyphicon-search"></span> </a> <span style="width: 2px"></span> {{ subTask.rating.needReview }} <span style="width: 6px"></span>
            <a href="" ng-click="rateSubTask(subTask, 'negative');  $event.stopPropagation();"> <span class="glyphicon glyphicon-thumbs-down"></span> </a> <span style="width: 2px"></span> {{ subTask.rating.negative }}
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="ng-hide" ng-show="state === 'SubmitSelection'" style="width:100%;float:right">
    <table style="max-width:100%"class="table table-hover">
      <thead>
      <tr>
        <th ng-click="orderSubmitPredicate = 'id'; orderReverse = !orderReverse" style="cursor: pointer">Student</th>
        <th ng-click="orderSubmitPredicate = 'solve'; orderReverse = !orderReverse" style="cursor: pointer">Solved</th>
        <th ng-click="orderSubmitPredicate = 'statement'; orderReverse = !orderReverse" style="cursor: pointer">Statement</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="submit in vm.submits | orderBy:orderSubmitPredicate:orderReverse | filter:search" style="cursor: pointer" ng-click="selectSubmit(submit)">
        <td>{{submit.student.matno}}</td>
        <td>{{submit.solve}}</td>
        <td>{{submit.statement}}</td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="ng-hide" ng-show="state === 'InspectSubmit'"  style="width:100%;float:right">
    <div style="width:100%;height: 8px"> </div>
    <div style="width:45%; float:left">
      <button class="btn btn-default" ng-click="prevSubmit()" style="float:left">Previous Student</button>
      <label style="float:right">Student's Statement:</label>
    </div>
    <div style="width:45%; float:right">
      <label style="float:left">Reference Statement:</label>
      <button class="btn btn-default" ng-click="nextSubmit()" style="float:right">Next Student</button>
    </div>
    <div style="width:45%; float:left">
      <textarea  ui-codemirror="codemirrorOptions" id="CodeMirrorSQLUser" ng-model="selectedSubmit.statement" style="resize:none; width:100%"></textarea>
    </div>
    <div style="width:45%; float:right">
      <textarea  ui-codemirror="codemirrorOptions" id="CodeMirrorSQLRef" ng-model="selectedSubTask.refStatement" style="resize:none; width:100%"></textarea>

    </div>
  </div>
</div>