
<div class="container-fluid">
  <div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" ng-if="flash" ng-bind="flash.message" style="float:left;width:68%"></div>

  <div class="container-fluid" style="float:right;width:30%">
    <form ng-show="true">
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
          <input type="text" class="form-control" placeholder="Search..." ng-model="search">
        </div>
      </div>
    </form>
  </div>

  <hr/>
  <hr/>


  <div style="width:100%;float:left">



    <button class="btn btn-info" ng-click="saveSelectedTaskSet();" ng-disabled="selectedTaskSet.$$hashKey === undefined || tabActive.tasks" style="float:right">Save current TaskSet: <b>{{selectedTaskSet.taskSetName}}</b></button>
    <uib-tabset tpye="tabs">




      <uib-tab deselect="keepTaskSets();">
        <uib-tab-heading>
          TaskSet: <b>{{selectedTaskSet.taskSetName}}</b>
        </uib-tab-heading>
        <div style="width:100%;float:left">
          <div class="panel {{panelClass || 'panel-default'}}">
            <div class="panel-heading">
              <h4 class="panel-title">
                <h4>Select TaskSet for further editing</h4>
              </h4>
            </div>
            <div class="panel-default">
              <div class="panel-body">
                <table class="table table-hover">
                  <thead>
                  <tr>
                    <th ng-click="orderTaskSetPredicate = 'taskSetName'; orderReverse = !orderReverse" style="cursor: pointer">Name</th>
                    <th ng-click="orderTaskSetPredicate = 'createdAt'; orderReverse = !orderReverse" style="cursor: pointer">Creation Date</th>
                    <th ng-click="orderTaskSetPredicate = 'updatedAt'; orderReverse = !orderReverse" style="cursor: pointer">Last Update</th>
                    <th ng-click="orderTaskSetPredicate = 'rating.positive'; orderReverse = !orderReverse" style="cursor: pointer">Rating</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr ng-repeat="taskSet in vm.taskSets | orderBy:orderTaskSetPredicate:orderReverse | filter:search" style="cursor: pointer" ng-click="selectTaskSet(taskSet, 'TaskSelection')">
                    <td><input type="text" ng-click="$event.stopPropagation();" ng-model="taskSet.taskSetName"></td>
                    <td>{{taskSet.createdAt}}</td>
                    <td>{{taskSet.updatedAt}}</td>
                    <td>
                      <div class="btn-group" role="group" aria-label="...">
                        <a href="" ng-click="rateTaskSet(taskSet, 'positive');  $event.stopPropagation();"> <span class="glyphicon glyphicon-thumbs-up"></span> </a> <span style="width: 2px"></span> {{ taskSet.rating.positive }} <span style="width: 6px"></span>
                        <a href="" ng-click="rateTaskSet(taskSet, 'needReview');  $event.stopPropagation();"> <span class="glyphicon glyphicon-search"></span> </a> <span style="width: 2px"></span> {{ taskSet.rating.needReview }} <span style="width: 6px"></span>
                        <a href="" ng-click="rateTaskSet(taskSet, 'negative');  $event.stopPropagation();"> <span class="glyphicon glyphicon-thumbs-down"></span> </a> <span style="width: 2px"></span> {{ taskSet.rating.negative }}
                      </div>
                    </td>
                    <td><button type="button" class="btn btn-danger btn-xs" ng-click="deleteTaskSet(taskSet); $event.stopPropagation();" style="font-size: 11pt;float:right"> Delete</button> </td>
                    <!--<td>{{taskSet.start_at}}</td>
                    <td>{{taskSet.expires_at}}</td>
                    <td>
                      <button type="button" class="btn btn-default" ng-click="deleteHomework(taskSet);  $event.stopPropagation();">
                        <span class="glyphicon glyphicon-trash"></span></button>
                    </td>-->
                  </tr>
                  <tr>
                    <td>
                      <button type="button" class="btn btn-primary btn-sm" ng-click="pushNewTaskSet(); $event.stopPropagation();">New...</button>
                    </td>
                    <td/>
                    <td/>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
      </uib-tab>

      <uib-tab disable="selectedTaskSet.$$hashKey === undefined" active="tabActive.intensionTables" deselect="keepTaskSets(); keepTabActive();">
        <tab-heading>
          Intension <i>(tableDefinition)</i>
        </tab-heading>
        <uib-accordion close-others=true>
          <uib-accordion-group is-open="tableSelectionStatus.tableNotSelected">
            <uib-accordion-heading>
              <h5>Table: <b>{{selectedTable.$$hashKey === undefined ? "select..." : selectedTable.tableName}}</b></h5>
            </uib-accordion-heading>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th ng-click="orderTablePredicate = 'tableName'; orderReverse = !orderReverse" style="cursor: pointer">Name</th>
                  <th ng-click="orderTablePredicate = 'columns.length'; orderReverse = !orderReverse" style="cursor: pointer">Columns</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="table in vm.tables | orderBy:orderTablePredicate:orderReverse | filter:search" style="cursor: pointer" ng-click="selectTable(table); tableSelected = true;">
                  <td><input type="text" ng-click="$event.stopPropagation();" ng-model="table.tableName"></td>
                  <td>{{table.columns.length}}</td>

                  <td>
                    <button type="button" class="btn btn-danger btn-xs" ng-click="deleteTable(table); $event.stopPropagation();" style="font-size:11pt;float:right">Delete</button>
                  </td>
                  <!--<td>{{taskSet.start_at}}</td>
                  <td>{{taskSet.expires_at}}</td>
                  <td>
                    <button type="button" class="btn btn-default" ng-click="deleteHomework(taskSet);  $event.stopPropagation();">
                      <span class="glyphicon glyphicon-trash"></span></button>
                  </td>-->
                </tr>
                <tr>
                  <td>
                    <button type="button" class="btn btn-primary btn-sm" ng-click="pushNewTable(); $event.stopPropagation();">New...</button>
                  </td>
                  <td/>
                </tr>
              </tbody>
            </table>
          </uib-accordion-group>
          <uib-accordion-group is-open="tableSelectionStatus.tableSelected" is-disabled="selectedTable.tableName === undefined">
            <uib-accordion-heading>
              <h5>Columns:</b></h5>
            </uib-accordion-heading>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th ng-click="orderTableEditPredicate = 'columnName'; orderReverse = !orderReverse" style="cursor: pointer">Name</th>
                  <th ng-click="orderTableEditPredicate = 'dataType'; orderReverse = !orderReverse" style="cursor: pointer">Type</th>
                  <th ng-click="orderTableEditPredicate = 'datagenSet'; orderReverse = !orderReverse" style="cursor: pointer">GenSet</th>
                  <th ng-click="orderTableEditPredicate = 'notNull'; orderReverse = !orderReverse" style="cursor: pointer">Not Null?</th>
                  <th ng-click="orderTableEditPredicate = 'primaryKey'; orderReverse = !orderReverse" style="cursor: pointer">Primary?</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="column in vm.columns | orderBy:orderTableEditPredicate:orderReverse | filter:search">
                  <td><input type="text" ng-model="column.columnName"></td>
                  <td><input type="text" ng-model="column.dataType" uib-typeahead="item for item in items | filter:$viewValue | limitTo:5"> </td>
                  <td><input type="number" ng-model="column.datagenSet"></td>
                  <td><input type="checkbox" ng-model="column.notNull"></td>
                  <td><input type="checkbox" ng-model="column.primaryKey"></td>
                  <td>
                    <button type="button" class="btn btn-danger btn-xs" ng-click="deleteColumn(column); $event.stopPropagation();" style="font-size:11pt;float:right">Delete</button>
                  </td>
                </tr>
                <tr>
                  <td>
                    <button type="button" class="btn btn-primary btn-sm" ng-click="pushNewColumn(); $event.stopPropagation();">New...</button>
                  </td>
                  <td/>
                  <td/>
                  <td/>
                  <td/>
                </tr>
              </tbody>
            </table>
          </uib-accordion-group>
        </uib-accordion>

      </uib-tab>

      <uib-tab disable="selectedTaskSet.$$hashKey === undefined" active="tabActive.intensionForeignKeys" deselect="keepTaskSets(); keepTabActive();">
        <tab-heading>
          Intension <i>(foreignKeys)</i>
        </tab-heading>
        <table class="table table-hover">
          <thead>
          <tr>
            <th ng-click="orderTableEditPredicate = 'sourceTable'; orderReverse = !orderReverse" style="cursor: pointer">Table</th>
            <th ng-click="orderTableEditPredicate = 'sourceColumn'; orderReverse = !orderReverse" style="cursor: pointer">Column</th>
            <th><span class="glyphicon glyphicon-minus"></span><span class="glyphicon glyphicon-arrow-right"></span></th>
            <th ng-click="orderTableEditPredicate = 'destinationTable'; orderReverse = !orderReverse" style="cursor: pointer">Table</th>
            <th ng-click="orderTableEditPredicate = 'destinationColumn'; orderReverse = !orderReverse" style="cursor: pointer">Column</th>
          </tr>
          </thead>
          <tbody>
            <tr ng-repeat="foreignKey in vm.foreignKeyRelations | orderBy:orderTableEditPredicate:orderReverse | filter:search">
              <td><input type="text" ng-model="foreignKey.sourceTable" uib-typeahead="table.tableName as table.tableName for table in vm.tables | filter:$viewValue | limitTo:5"></td>
              <td><input type="text" ng-model="foreignKey.sourceColumn" uib-typeahead="item for item in findColumnsForTableName(foreignKey.sourceTable) | filter:$viewValue | limitTo:5" ng-disabled="foreignKey.sourceTable === ''"> </td>
              <td><span class="glyphicon glyphicon-minus"></span><span class="glyphicon glyphicon-arrow-right"></span></td>
              <td><input type="text" ng-model="foreignKey.destinationTable" uib-typeahead="table.tableName as table.tableName for table in vm.tables | filter:$viewValue | limitTo:5"></td>
              <td><input type="text" ng-model="foreignKey.destinationColumn" uib-typeahead="item for item in findColumnsForTableName(foreignKey.destinationTable) | filter:$viewValue | limitTo:5" ng-disabled="foreignKey.destinationTable === ''"></td>
              <td>
                <button type="button" class="btn btn-danger btn-xs" ng-click="deleteForeignKey(foreignKey); $event.stopPropagation();" style="font-size:11pt;float:right">Delete</button>
              </td>
            </tr>
            <tr>
              <td>
                <button type="button" class="btn btn-primary btn-sm" ng-click="pushNewForeignKey(); $event.stopPropagation();">New...</button>
              </td>
              <td/>
              <td/>
              <td/>
              <td/>
            </tr>
          </tbody>
        </table>
      </uib-tab>

      <uib-tab heading="Extension" disable="selectedTaskSet.$$hashKey === undefined" active="tabActive.extension" deselect="keepTaskSets(); keepTabActive();">

      </uib-tab>

      <uib-tab heading="Tasks" active="tabActive.tasks" disable="selectedTaskSet.$$hashKey === undefined" select="enterTaskTab();" deselect="keepTaskSets(); keepTabActive();">
        <div style="width:100%;float:left">
          <div class="panel {{panelClass || 'panel-default'}}">
            <div class="panel-heading">
              <h4 class="panel-title">
                <h4>Select TaskSet for further editing</h4>
              </h4>
            </div>
            <div class="panel-body">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th ng-click="orderTaskPredicate = 'taskName'; orderReverse = !orderReverse" style="cursor: pointer">Name</th>
                    <th ng-click="orderTaskPredicate = 'evaluationStrategy'; orderReverse = !orderReverse" style="cursor: pointer">Evaluating Correctness via</th>
                    <th ng-click="orderTaskPredicate = 'creator.username'; orderReverse = !orderReverse" style="cursor: pointer">Creator</th>
                    <th ng-click="orderTaskPredicate = 'points'; orderReverse = !orderReverse" style="cursor: pointer">Points</th>
                    <th ng-click="orderTaskPredicate = 'createdAt'; orderReverse = !orderReverse" style="cursor: pointer">Creation Date</th>
                    <th ng-click="orderTaskPredicate = 'rating.positive'; orderReverse = !orderReverse" style="cursor: pointer">Rating</th>
                  </tr>
                </thead>
                <tbody ng-repeat="task in vm.tasks | orderBy:orderTaskPredicate:orderReverse | filter:search">
                <tr style="cursor: pointer" ng-click="task.isCollapsed = !task.isCollapsed;;">
                  <td><input type="text" ng-model="task.taskName" ng-click="$event.stopPropagation();"></td>
                  <td>
                    <div class="btn-group" uib-dropdown is-open="taskEvaluationStrategyDropDownStatus">
                      <button type="button" class="btn btn-default btn-xs" uib-dropdown-toggle ng-click="$event.stopPropagation();" style="font-size:11pt">
                        {{task.evaluationStrategy === 1 ? "Set" : "List"}} <span class="caret"></span>
                      </button>
                      <ul class="uib-dropdown-menu" role="menu" ng-click="$event.stopPropagation(); taskEvaluationStrategyDropDownStatus = !taskEvaluationStrategyDropDownStatus">
                        <li role="menuitem" ng-click="task.evaluationStrategy = 1;">Set</li>
                        <li role="menuitem" ng-click="task.evaluationStrategy = 2;">List</li>
                      </ul>
                    </div>
                  </td>
                  <td>{{task.creator.username}}</td>
                  <td>
                    <div class="btn-group" uib-dropdown is-open="taskPointsDropDownStatus">
                      <button type="button" class="btn btn-default btn-xs" uib-dropdown-toggle ng-click="$event.stopPropagation();" style="font-size:11pt">
                        {{task.points}} <span class="caret"></span>
                      </button>
                      <ul class="uib-dropdown-menu" role="menu" ng-click="$event.stopPropagation(); taskPointsDropDownStatus = !taskPointsDropDownStatus">
                        <li role="menuitem" ng-click="task.points = 1;">1</li>
                        <li role="menuitem" ng-click="task.points = 2;">2</li>
                        <li role="menuitem" ng-click="task.points = 3;">3</li>
                        <li role="menuitem" ng-click="task.points = 4;">4</li>
                        <li role="menuitem" ng-click="task.points = 5;">5</li>
                        <li role="menuitem" ng-click="task.points = 6;">6</li>
                      </ul>
                    </div>
                  </td>
                  <td>{{task.createdAt}}</td>
                  <td>
                    <div class="btn-group" role="group">
                      <a href="" ng-click="rateTask(task, 'positive');  $event.stopPropagation();"> <span class="glyphicon glyphicon-thumbs-up"></span> </a> <span style="width: 2px"></span> {{ task.rating.positive }} <span style="width: 6px"></span>
                      <a href="" ng-click="rateTask(task, 'needReview');  $event.stopPropagation();"> <span class="glyphicon glyphicon-search"></span> </a> <span style="width: 2px"></span> {{ task.rating.needReview }} <span style="width: 6px"></span>
                      <a href="" ng-click="rateTask(task, 'negative');  $event.stopPropagation();"> <span class="glyphicon glyphicon-thumbs-down"></span> </a> <span style="width: 2px"></span> {{ task.rating.negative }}
                    </div>
                  </td>
                <td>
                  <button type="button" class="btn btn-info btn-xs" ng-click="saveTask(task); $event.stopPropagation();" style="font-size:11pt">Save...</button>
                </td>
                  <tr>
                    <td colspan="7" ng-style="!task.isCollapsed ? {padding: 0} : {}">

                      <div uib-collapse="!task.isCollapsed">
                        <div style="width:100%">
                          <span style="float:left;width:50%"><h4>Task Text</h4></span>
                          <span style="float:right;width:50%;text-align: right"><h4>Reference Statement</h4></span>
                        </div>

                        <div ui-ace="{
                          theme: 'twilight'
                        }" ng-model="task.taskText" style="float:left"></div>
                        <div ui-ace="{
                             mode : 'sql',
                             theme : 'twilight'
                        }" ng-model="task.refStatement" style="float:right"></div>
                      </div>
                    </td>
                  </tr>
                </tr>
                </tbody>
                <tbody>
                  <tr>
                    <td>
                      <button type="button" class="btn btn-primary btn-sm" ng-click="pushNewTask(); $event.stopPropagation();">New...</button>
                    </td>
                    <td/>
                    <td/>
                    <td/>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>


      </uib-tab>
    </uib-tabset>
  </div>
</div>