<div class="container-fluid">
  <div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" ng-if="flash" ng-bind="flash.message"></div>
  <div ng-show="vm.error" class="alert alert-danger">{{vm.error}}</div>


  <div id="taskFiles" class="container-fluid" style="float:left;width:65%;border-right: 1px solid #BCBCBC;">

    <div class="container-fluid" style="float:left;width:45%">
      <button type="button" class="btn btn-default" ng-click="createTaskOpen()">
        Create...
      </button>
      <button type="button" class="btn btn-default" ng-click="makeHomeWork()">
        Make Homework
      </button>
    </div>

    <div style="float:left; width:25%">
      <label for="taskFiles">TaskFiles</label>
    </div>


    <div class="container-fluid" style="float:right;width:30%">
      <form ng-show="!shouldIBeDisplayed('InspectSubmit')">
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
            <input type="text" class="form-control" placeholder="Search..." ng-model="searchTaskFile">
          </div>
        </div>
      </form>
    </div>
    <div class="container-fluid">
      <table style="width:100%" class="table table-hover">
        <thead>
        <tr>
          <th><input type="checkbox" value="HTML" disabled></th>
          <th ng-click="orderTaskFilePredicate = 'fileName'; orderReverseTaskFile = !orderReverseTaskFile" style="cursor: pointer">Name</th>
          <th ng-click="orderTaskFilePredicate = 'create'; orderReverseTaskFile = !orderReverseTaskFile" style="cursor: pointer">From</th>
          <th ng-click="orderTaskFilePredicate = 'rating.positive'; orderReverseTaskFile = !orderReverseTaskFile" style="cursor: pointer">Rating</th>
          <th ng-click="orderTaskFilePredicate = 'created_at'; orderReverseTaskFile = !orderReverseTaskFile" style="cursor: pointer">Created at</th>
          <th style="text-align: center"> Actions</th>
          <th>
             </th>
        </tr>
        </thead>
        <tbody>
          <tr ng-repeat="task in vm.tasks | orderBy:orderTaskFilePredicate:orderReverseTaskFile | filter:searchTaskFile" ng-click="selectTask(task)"
              ng-class="(task.fileName === vm.selectedTask.fileName ? 'trHighlighted' : 'trNormal')">
            <td scope="row"><input ng-click="$event.stopPropagation();" type="checkbox" ng-model="task.checked" value="HTML" ></td>
            <td>{{ task.fileName }}</td>
            <td>{{ task.create }}</td>
            <td>
              <a href="" ng-click="rateTaskFile(task, 'positive'); $event.stopPropagation();"> <span class="glyphicon glyphicon-thumbs-up"></span> </a> {{ task.rating.positive }} <br>
              <a href="" ng-click="rateTaskFile(task, 'needReview'); $event.stopPropagation();"> <span class="glyphicon glyphicon-search"></span> </a> {{ task.rating.needReview }} <br>
              <a href="" ng-click="rateTaskFile(task, 'negative'); $event.stopPropagation();"> <span class="glyphicon glyphicon-thumbs-down"></span> </a> {{ task.rating.negative }}
            </td>
            <td>{{ task.created_at }}</td>
            <td>
              <div class="btn-group" role="group" aria-label="..." style="text-align: center">
                <button type="button" class="btn btn-default" ng-click="editTask(task); $event.stopPropagation();">
                  <span class="glyphicon glyphicon-pencil"></span></button>
                <button type="button" class="btn btn-default" ng-click="viewTaskFileComments(task); $event.stopPropagation();">
                  <span class="glyphicon glyphicon-tags"></span></button>
              </div>
            </td>
            <td>
              <button type="button" class="btn btn-default" ng-click="viewSchema(task); $event.stopPropagation();">
                Schema</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div id="subTasks" class="container-fluid" style="float:right;width:35%;">
    <label for="subTasks">Subtasks for: {{vm.selectedTask.fileName}}</label>
    <div style="height:26px; width:100%"></div>
    <div class="container-fluid">
      <table style="width:100%"class="table table-hover">
        <thead>
          <tr>
            <th ng-click="orderSubTaskPredicate = 'id'; orderReverseSubTask = !orderReverseSubTask" style="cursor: pointer;text-align: right">Id</th>
            <th ng-click="orderSubTaskPredicate = 'points'; orderReverseSubTask = !orderReverseSubTask" style="cursor: pointer;text-align: right">Difficulty</th>
            <th ng-click="orderSubTaskPredicate = 'rating.positive'; orderReverseSubTask = !orderReverseSubTask" style="cursor: pointer;">Rating</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="subTask in vm.selectedTask.subTasks  | orderBy:orderSubTaskPredicate:orderReverseSubTask" ng-click="viewSubTask(subTask)" style="cursor: pointer">
            <td style="text-align: right">{{subTask.id}}</td>
            <td style="text-align: right">{{subTask.points}}</td>
            <td>
              <div class="btn-group" role="group" aria-label="...">
                <a href="" ng-click="rateSubTask(subTask, 'positive'); $event.stopPropagation();"> <span class="glyphicon glyphicon-thumbs-up"></span> </a> <span style="width: 2px"></span> {{ subTask.rating.positive }} <span style="width: 6px"></span>
                <a href="" ng-click="rateSubTask(subTask, 'needReview'); $event.stopPropagation();"> <span class="glyphicon glyphicon-search"></span> </a> <span style="width: 2px"></span> {{ subTask.rating.needReview }} <span style="width: 6px"></span>
                <a href="" ng-click="rateSubTask(subTask, 'negative'); $event.stopPropagation();"> <span class="glyphicon glyphicon-thumbs-down"></span> </a> <span style="width: 2px"></span> {{ subTask.rating.negative }}
              </div>
            </td>
            <td>{{subTask.d}}</td>
            <td>
              <button type="button" class="btn btn-default" ng-click="viewSubTaskComments(subTask); $event.stopPropagation();">
                <span class="glyphicon glyphicon-tags"></span></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
