html {
    overflow-y: scroll;
    overflow: -moz-scrollbars-vertical;
}

body {
    height: 100%;
}

.btn-group {
    display: flex;
}

div.app-modal-window .modal-dialog{
    width: 90vw;
}

.trHighlighted {
    cursor: pointer;
    background-color: #F6F6F6;
}

.trNormal {
    cursor: pointer;
}